<div class="page" id="usersList">
    <div class="title">
        <h2 ng-i18next="list.users.title"></h2>
        <div>
            <a class="btn btn-primary" ng-click="showAddUserModal()">Add user</a> 
        </div>
    </div>
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped table-bordered clickable-table">
                <thead>
                    <tr class="left-align">                       
                        <th>
                            <span ng-i18next="list.users.columns.email"></span>
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="plain-data" ng-repeat="user in users">
                        <td>
                            <span ng-bind="user.Email"></span>
                        </td>
                        <td>
                            <a href="" ng-click="removeUser(user)"><i class="fa fa-remove text-danger"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>