<div class="page">
	<div class="panel panel-default">
		<div class="content">
			<div class="panel-heading">
				<strong>
					<span class="glyphicon glyphicon-th"></span> 
					Add/Edit Trade Type
				</strong>
			</div>
			<div class="panel-body">				
				<form name="tradeTypeForm" role="form" novalidate data-ng-submit="tradeTypeForm.$dirty=true;tradeTypeForm.$valid && tradeTypesCtrl.save()" class="form-horizontal">
					<div class="form-table">
						<div class="form-group" ng-class="{'has-error':tradeTypeForm.$dirty && TradeTypeForm.inputName.$invalid}">
							<label class="control-label required">
								<span ng-i18next="form.tradeTypes.fields.name"></span>
							</label>
							<div>
								<input type="text" class="cw-input" ng-model="tradeTypesCtrl.tradeType.Name" name="inputName" required >
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">
								<span ng-i18next="form.tradeTypes.fields.notes"></span>
							</label>
							<div>
								<textarea class="cw-input" id="description" rows="5" cols="20" ng-model="tradeTypesCtrl.tradeType.Notes" >
								</textarea>
							</div>
						</div>


					</div>
					<div class="panel panel-default row" >
						<div class="col-sm-12">
							<h4 ng-i18next="form.tradeTypes.fields.requiredDocument"></h4>
							<div class="table-responsive ">
								<table class="table table-striped table-bordered clickable-table table-hover dataTable">
									<thead>
										<tr class="left-align">                       
											<th class="col-md-4">
												<span>Name</span>                            
											</th>
											<th>
												<span>Description</span>                            
											</th>
											<th class="col-md-1">
												
											</th>
										</tr>
									</thead>
									<tbody>
										<tr class="plain-data" ng-repeat="document in tradeTypesCtrl.tradeType.Documents">
											<td>
												<input class="cw-input" ng-model="document.Name" ng-if="document.NewRow">
												<p class="form-static-control" ng-bind="document.Name" ng-if="!document.NewRow"></p>
											</td>

											<td>
												<textarea class="cw-input" ng-model="document.Description" ng-if="document.NewRow"></textarea>
												<p class="form-static-control" ng-bind="document.Description" ng-if="!document.NewRow"></p>
											</td>
											<td style="text-align:center;">
												<a class="text-success" ng-if="document.NewRow" ng-disabled="!document.Name" ng-click="tradeTypesCtrl.save()">
													<span class="fa fa-check"></span>
												</a>
												<a class="text-danger" ng-if="!document.NewRow"  ng-click="tradeTypesCtrl.removeDocument()">
													<span class="fa fa-remove"></span>
												</a>
											</td>
										</tr>
									</tbody> 
								</table>
							</div>
						</div>
					</div>
					<div class="panel panel-default row" >
						<div class="col-sm-12">
							<h4 ng-i18next="form.tradeTypes.fields.data"></h4>
							<div class="table-responsive">
								<table class="table table-striped table-bordered clickable-table table-hover dataTable">
									<thead>
										<tr class="left-align">                       
											<th class="col-md-4">
												<span>Name</span>                            
											</th>
											<th>
												<span>Description</span>                            
											</th>
											<th class="col-md-1">
												
											</th>
										</tr>
									</thead>
									<tbody>
										<tr class="plain-data" ng-repeat="dataItem in tradeTypesCtrl.tradeType.Data">
											<td>
												<input class="cw-input" ng-model="dataItem.Name" ng-if="dataItem.NewRow">
												<p class="form-static-control" ng-bind="dataItem.Name" ng-if="!dataItem.NewRow"></p>
											</td>

											<td>
												<textarea class="cw-input" ng-model="dataItem.Description" ng-if="dataItem.NewRow"></textarea>
												<p class="form-static-control" ng-bind="dataItem.Description" ng-if="!dataItem.NewRow"></p>
											</td>
											<td style="text-align:center;">
												<a class="text-success" ng-if="dataItem.NewRow" ng-disabled="!dataItem.Name" ng-click="tradeTypesCtrl.save()">
													<span class="fa fa-check"></span>
												</a>
												<a class="text-danger" ng-if="!dataItem.NewRow"  ng-click="tradeTypesCtrl.removeData()">
													<span class="fa fa-remove"></span>
												</a>
											</td>
										</tr>
									</tbody> 
								</table>
							</div>
						</div>
					</div>
					<div class="form-footer">    
						<button type="submit" class="btn btn-primary" ng-disabled="tradeTypeForm.$invalid">
							<span>Save</span> 
						</button>
						<a class="btn btn-default" href="#/app/tradeTypes">
							<span>Cancel</span> 
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>	