<div>
  <div class="modal-content">
   <div class="modal-header">        
    <h4 class="modal-title"><span ng-i18next="modal.change_password.title"></span></h4>
  </div>  
  <div class="modal-body">
   <alert ng-repeat="alert in chgPwdAlerts" type="{{alert.type}}" close="closeAlert($index)">
    {{alert.msg | i18next}}    
  </alert>             
  <form class="form-horizontal " role="form" name="dataForm" ng-model="data"  ng-submit="ok(dataForm.$valid)" novalidate>  
    <div><span ng-i18next="form.all_required" class="required_fileds_pass"></span></div>
     <!-- <div class="form-group required" ng-class="{ 'has-error' : dataForm.currentPwd.$invalid && !dataForm.currentPwd.$pristine }">
      <label for="currentPwd" class="col-xs-4 control-label"><span ng-i18next="form.change_password.fields.current_password"></span></label>
      <div class="col-xs-6">
        <input type="password" class="form-control" name="currentPwd" placeholder="Current Password" ng-model="data.CurrentPassword" required>
        <span ng-show="dataForm.currentPwd.$invalid && !dataForm.currentPwd.$pristine" class="help-block"><span ng-i18next="form.change_password.error_messages.current_password_required"></span></span>
      </div>
    </div>  -->

    <div class="form-group required" ng-class="{ 'has-error' : dataForm.newPwd.$invalid && !dataForm.newPwd.$pristine }">
      <label for="newPwd" class="col-xs-4 control-label"><span ng-i18next="form.change_password.fields.new_password" class=""></span></label>
      <div class="col-xs-6">
        <input type="password" class="form-control" name="newPwd" placeholder="New Password" ng-model="data.NewPassword" required>
        <span ng-show="dataForm.newPwd.$error.required && !dataForm.newPwd.$pristine" class="help-block"><span ng-i18next="form.change_password.error_messages.new_password_required"></span></span>
        <span ng-show="dataForm.newPwd.$error.pattern && !dataForm.newPwd.$pristine" class="help-block"><span ng-i18next="form.change_password.error_messages.new_password_validation_msg"></span></span>
      </div>
    </div>  
    <div class="form-group required" ng-class="{ 'has-error' : dataForm.confirmPwd.$invalid && !dataForm.confirmPwd.$pristine }">
      <label for="confirmPwd" class="col-xs-4 control-label"><span ng-i18next="form.change_password.fields.cnfrm_password"></span></label>
      <div class="col-xs-6">
        <input type="password" class="form-control" name="confirmPwd" placeholder="Confirm Password" ng-model="data.ConfirmPassword" required>
        <span ng-show="dataForm.confirmPwd.$invalid && !dataForm.confirmPwd.$pristine" class="help-block"><span ng-i18next="form.change_password.error_messages.cnfrm_password_required"></span></span>
      </div>
    </div>     
    <div class="form-footer" style="text-align: right;">          
      <button type="submit" class="btn btn-primary" ng-disabled="dataForm.$pristine || dataForm.$invalid"><span ng-i18next="button.save"></button>      
      <button type="reset" class="btn btn-default" ng-click="cancel()"><span ng-i18next="button.cancel"></button>        
    </div>                   
  </form>     
</div>
</div>
</div>