<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title"><span ng-i18next="modal.update_details.title"></span></h4>
  </div>
  <div class="modal-body">
    <!-- <alert ng-repeat="alert in profileAlerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert> -->
    <form class="form-horizontal firstpopup" role="form" name="userDetailsForm" ng-model="user"  ng-submit="ok()" novalidate>
      <div><span ng-i18next="form.all_required"></span></div> 

      <div class="form-group" ng-class="{'has-error': userDetailsForm.inputFName.$dirty && userDetailsForm.inputFName.$invalid}" ng-if="!isPersonalDetailsCaptured()">
        <label for="inputFName" class="col-sm-4 control-label"><span ng-i18next="form.update_details.fields.first_name"></label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="inputFName" ng-model="user.FirstName" required>
          <span ng-show="userDetailsForm.inputFName.$dirty && userDetailsForm.inputFName.$error.required" class="help-block"><span ng-i18next="form.update_details.error_messages.first_name_required"></span></span>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': userDetailsForm.inputLName.$dirty && userDetailsForm.inputLName.$invalid}" ng-if="!isPersonalDetailsCaptured()">
        <label for="inputLName" class="col-sm-4 control-label"><span ng-i18next="form.update_details.fields.last_name"></label>
        <div class="col-sm-6">
          <input type="text" name="inputLName" class="form-control" ng-model="user.LastName" required>
          <span ng-show="userDetailsForm.inputLName.$dirty && userDetailsForm.inputLName.$error.required" class="help-block"> <span ng-i18next="form.update_details.error_messages.last_name_required"></span></span>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': userDetailsForm.orgName.$dirty && userDetailsForm.orgName.$invalid}" ng-if="user.isOrganizationAdmin" >
        <label for="orgName" class="col-sm-4 control-label"><span ng-i18next="form.update_details.fields.org_name"></label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="orgName" ng-model="user.OrganizationName" required>
          <span ng-show="userDetailsForm.orgName.$dirty && userDetailsForm.orgName.$error.required" class="help-block"><span ng-i18next="form.update_details.error_messages.org_name_required"></span></span>
        </div>
      </div>
      <div class="form-footer" style="text-align: right;">
        <button type="submit" class="btn btn-primary" ng-disabled="userDetailsForm.$invalid"><span ng-i18next="button.save"></span></button>
        <button type="reset" class="btn btn-default" ng-click="cancel()"><span ng-i18next="button.cancel"></span></button>
      </div>
    </form>
  </div>
</div>