<div class="page-forgot">

    <div class="signin-header">
        <section class="logo text-center">
            <h1><a href="#/"></a></h1>
        </section>
    </div>

    <div class="container" style="padding-top:10%;">        

        <div class="form-container text-center col-sm-6 col-sm-offset-3">
            <div class="confirmation" ng-show="resetPasswordCtrl.confirmation">
                <div class="info">
                    A message is sent to your email address with your username and a link to reset your password. Please check your email.
                </div>
                <a href="#/signin" class="btn btn-primary">Login</a>
            </div>
            <form ng-show="!resetPasswordCtrl.confirmation" name="resetPwdForm" novalidate>
                <div class="additional-info text-center">
                    <p>Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.</p>
                </div>
                
                <alert ng-repeat="alert in resetPasswordCtrl.alerts" type="{{alert.type}}" close="resetPasswordCtrl.closeAlert($index)">{{alert.msg}}</alert>

                <div class="form-group" ng-class="{'has-error': resetPwdForm.$dirty && resetPwdForm.inputEmail.$invalid}">
                     <input type="email" name="inputEmail"
                        class="form-control input-lg"
                        placeholder="Email" ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/" ng-model="resetPasswordCtrl.data.Email" required >
                </div>

                <div class="divider divider-lg"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-block btn-primary" ng-click="resetPwdForm.$valid && resetPasswordCtrl.resetPassword()" ng-disabled="saving || resetPwdForm.$invalid">Reset</button>
                    <a href="#/pages/signin" class="btn btn-lg btn-block btn-default" >Cancel</a>
                </div>
            </form>
        </div>

    </div>
</div>